body {
    font-family: Arial, sans-serif;
    background:  black;
    padding: 40px;
}

.container {
    background-color: white;
    padding: 25px;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 20px black;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.question {
    margin-bottom: 25px;
}

.question p {
    font-weight: bold black;
}

label {
    cursor: pointer green;
}

button {
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: green;
}